<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <%- include('partials/header') %>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/default.css">
  <link rel="stylesheet" href="./css/index.css">
</head>
<body>
  <!-- <div class="header">
    <h1><%= site.title %></h1>
  </div> -->

  
  <%- include('partials/navbar') %>


  <div class="container-fluid d-flex h-100 p-0" style="overflow:hidden">
  <div id="--bg">
      <!-- <div class="content">
          <%- body %>
      </div> -->
      
        <!-- <div class="row justify-content-center align-items-center h-100">
          <div class="col-6 mx-auto">            
              <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                  <img class="card-img-top" src="https://via.placeholder.com/576x145" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><%- body %></p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>                    
                  </div>
                </div>
          </div>
        </div> -->

  <div class="row justify-content-center align-items-center h-100">
      
      <div class="col-sm-8 col-lg-6">            
          <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="box">
                  <div class="img">
                      <img src="./images/small_portrait.jpg">
                  </div>
                  <h2>Parthiban Rajendran<br><span>Software Engineer (Automotive, AI)</span></h2>
                  <div><%- body %></div>
                  <br>
                  <span>
                      <ul>
                          <li><a href="https://github.com/parthi2929"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/parthi2929/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                          <li><a href="https://twitter.com/parthi292929"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="https://www.facebook.com/parthi2929"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>                          
                      </ul>
                  </span>
              </div>
            </div>
      </div>
      
  </div>        
      

  </div>    

</div>






  <!-- <%- include('partials/footer') %> -->
  
</body>
</html>